.home {
  position: relative;
  width: 1920px;
  height: 4555px;
  background-color: #ffffff;
}

.home .main {
  position: absolute;
  width: 1920px;
  height: 4592px;
  top: -28px;
  left: 0;
}

.home .background {
  height: 1260px;
  top: 0;
  background-color: #f3f3f3;
  position: absolute;
  width: 1920px;
  left: 0;
}

.home .heading {
  position: absolute;
  width: 963px;
  height: 151px;
  top: 149px;
  left: 478px;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #1e1e1c;
  font-size: 62.5px;
  text-align: center;
  letter-spacing: -0.96px;
  line-height: 70.4px;
}

.home .text-wrapper {
  position: absolute;
  width: 721px;
  height: 44px;
  top: 322px;
  left: 600px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #53524b;
  font-size: 15.2px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
}

.home .link {
  position: absolute;
  width: 154px;
  height: 56px;
  top: 409px;
  left: 797px;
  background-color: #dabd84;
  border-radius: 4px;
  border: 2px solid;
}

.home .div {
  position: absolute;
  width: 74px;
  height: 16px;
  top: 18px;
  left: 32px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #fafaf9;
  font-size: 13.6px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.home .SVG {
  position: absolute;
  width: 8px;
  height: 13px;
  top: 22px;
  left: 114px;
}

.home .component {
  display: flex;
  width: 148px;
  padding: 20px 32px;
  position: absolute;
  top: 409px;
  left: 973px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid;
  border-color: #74736d;
  align-items: center;
  justify-content: center;
}

.home .text {
  margin-top: -1.00px;
  color: #181818;
  font-size: 13.8px;
  line-height: 16px;
  position: relative;
  width: fit-content;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0;
  white-space: nowrap;
}

.home .overlap-group {
  position: absolute;
  width: 1920px;
  height: 805px;
  top: 507px;
  left: 0;
}

.home .background-2 {
  height: 160px;
  top: 593px;
  background-color: #ffffff;
  position: absolute;
  width: 1920px;
  left: 0;
}

.home .screenshot {
  position: absolute;
  width: 1319px;
  height: 805px;
  top: 0;
  left: 300px;
  object-fit: cover;
}

.home .section-heading {
  position: absolute;
  width: 970px;
  height: 151px;
  top: 1379px;
  left: 397px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #1e1e1c;
  font-size: 61.6px;
  letter-spacing: -0.96px;
  line-height: 70.4px;
}

.home .section {
  position: absolute;
  width: 1289px;
  height: 537px;
  top: 1607px;
  left: 315px;
}

.home .container {
  position: absolute;
  width: 408px;
  height: 537px;
  top: 0;
  left: 0;
  border-radius: 16px;
  overflow: hidden;
}

.home .link-2 {
  position: relative;
  height: 537px;
  background-color: #cbd9e3;
}

.home .overlay {
  width: 64px;
  background-color: #1e1e1c1a;
  position: absolute;
  height: 29px;
  top: 248px;
  left: 40px;
  border-radius: 20px;
}

.home .text-wrapper-2 {
  position: absolute;
  width: 156px;
  height: 18px;
  top: 5px;
  left: 9px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #1e1e1c;
  font-size: 13.3px;
  letter-spacing: 0;
  line-height: 22.4px;
  white-space: nowrap;
}

.home .heading-manage {
  position: absolute;
  width: 237px;
  height: 72px;
  top: 291px;
  left: 40px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #1e1e1c;
  font-size: 28.8px;
  letter-spacing: -0.45px;
  line-height: 34.5px;
}

.home .p {
  position: absolute;
  width: 294px;
  height: 68px;
  top: 380px;
  left: 40px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #53524b;
  font-size: 15.1px;
  letter-spacing: 0;
  line-height: 24px;
}

.home .img {
  position: absolute;
  width: 335px;
  height: 188px;
  top: 33px;
  left: 37px;
  object-fit: cover;
}

.home .text-wrapper-3 {
  position: absolute;
  width: 84px;
  height: 20px;
  top: 475px;
  left: 40px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #1e1e1c;
  font-size: 15.5px;
  letter-spacing: 0;
  line-height: 22.4px;
  white-space: nowrap;
}

.home .link-wrapper {
  position: absolute;
  width: 408px;
  height: 537px;
  top: 0;
  left: 440px;
  border-radius: 16px;
  overflow: hidden;
}

.home .link-3 {
  position: relative;
  height: 537px;
  background-color: #ebe6d9;
}

.home .div-wrapper {
  width: 52px;
  background-color: #1e1e1c1a;
  position: absolute;
  height: 29px;
  top: 248px;
  left: 40px;
  border-radius: 20px;
}

.home .text-wrapper-4 {
  position: absolute;
  width: 166px;
  height: 18px;
  top: 5px;
  left: 10px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #1e1e1c;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 22.4px;
  white-space: nowrap;
}

.home .heading-unlock {
  position: absolute;
  width: 323px;
  height: 72px;
  top: 291px;
  left: 40px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #1e1e1c;
  font-size: 28.7px;
  letter-spacing: -0.45px;
  line-height: 34.5px;
}

.home .text-wrapper-5 {
  position: absolute;
  width: 316px;
  height: 44px;
  top: 380px;
  left: 40px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #53524b;
  font-size: 15.2px;
  letter-spacing: 0;
  line-height: 24px;
}

.home .overlap-group-2 {
  position: absolute;
  width: 349px;
  height: 217px;
  top: 31px;
  left: 36px;
}

.home .screenshot-2 {
  position: absolute;
  width: 193px;
  height: 154px;
  top: 0;
  left: 0;
}

.home .screenshot-3 {
  position: absolute;
  width: 209px;
  height: 177px;
  top: 40px;
  left: 140px;
}

.home .container-2 {
  position: absolute;
  width: 408px;
  height: 537px;
  top: 0;
  left: 881px;
  border-radius: 16px;
  overflow: hidden;
}

.home .link-4 {
  position: relative;
  height: 537px;
  background-color: #0b181c;
}

.home .overlay-2 {
  width: 68px;
  background-color: #ffffff1a;
  position: absolute;
  height: 29px;
  top: 248px;
  left: 40px;
  border-radius: 20px;
}

.home .text-wrapper-6 {
  position: absolute;
  width: 101px;
  height: 18px;
  top: 4px;
  left: 14px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13.6px;
  letter-spacing: 0;
  line-height: 22.4px;
  white-space: nowrap;
}

.home .heading-outsource {
  position: absolute;
  width: 269px;
  height: 72px;
  top: 291px;
  left: 40px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 28.4px;
  letter-spacing: -0.45px;
  line-height: 34.5px;
}

.home .text-wrapper-7 {
  position: absolute;
  width: 293px;
  height: 44px;
  top: 380px;
  left: 40px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffffbf;
  font-size: 15.2px;
  letter-spacing: 0;
  line-height: 24px;
}

.home .text-wrapper-8 {
  position: absolute;
  width: 84px;
  height: 20px;
  top: 475px;
  left: 40px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 15.5px;
  letter-spacing: 0;
  line-height: 22.4px;
  white-space: nowrap;
}

.home .screenshot-4 {
  position: absolute;
  width: 315px;
  height: 176px;
  top: 36px;
  left: 47px;
  object-fit: cover;
}

.home .section-heading-2 {
  position: absolute;
  width: 834px;
  height: 151px;
  top: 2362px;
  left: 391px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #1e1e1c;
  font-size: 60.9px;
  letter-spacing: -0.96px;
  line-height: 70.4px;
}

.home .section-2 {
  position: absolute;
  width: 1137px;
  height: 498px;
  top: 2600px;
  left: 391px;
}

.home .lock-icon {
  position: absolute;
  width: 322px;
  height: 358px;
  top: 0;
  left: 0;
  border-radius: 10px;
  overflow: hidden;
  background-image: url(./img/lock-icon-2.png);
  background-size: cover;
  background-position: 50% 50%;
}

.home .screenshot-5 {
  position: absolute;
  width: 358px;
  height: 361px;
  top: -3px;
  left: -18px;
  object-fit: cover;
}

.home .LLC-compliance {
  position: absolute;
  width: 251px;
  height: 28px;
  top: 387px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #1e1e1c;
  font-size: 21.3px;
  letter-spacing: -0.33px;
  line-height: 24.2px;
  white-space: nowrap;
}

.home .text-wrapper-9 {
  position: absolute;
  width: 314px;
  height: 68px;
  top: 427px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #53524b;
  font-size: 15.2px;
  letter-spacing: 0;
  line-height: 24px;
}

.home .checkmark-icon {
  position: absolute;
  width: 322px;
  height: 358px;
  top: 0;
  left: 407px;
  border-radius: 10px;
  overflow: hidden;
  background-image: url(./img/image.png);
  background-size: cover;
  background-position: 50% 50%;
}

.home .screenshot-6 {
  position: absolute;
  width: 357px;
  height: 359px;
  top: -1px;
  left: -17px;
  object-fit: cover;
}

.home .text-wrapper-10 {
  position: absolute;
  width: 223px;
  height: 28px;
  top: 387px;
  left: 407px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #1e1e1c;
  font-size: 21px;
  letter-spacing: -0.33px;
  line-height: 24.2px;
  white-space: nowrap;
}

.home .text-wrapper-11 {
  position: absolute;
  width: 306px;
  height: 68px;
  top: 427px;
  left: 407px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #53524b;
  font-size: 15.2px;
  letter-spacing: 0;
  line-height: 24px;
}

.home .chat-bubble-icon {
  position: absolute;
  width: 322px;
  height: 358px;
  top: 0;
  left: 815px;
  border-radius: 10px;
  overflow: hidden;
  background-image: url(./img/chat-bubble-icon.png);
  background-size: cover;
  background-position: 50% 50%;
}

.home .screenshot-7 {
  position: absolute;
  width: 362px;
  height: 367px;
  top: -5px;
  left: -20px;
  object-fit: cover;
}

.home .cards-cashback {
  position: absolute;
  width: 196px;
  height: 28px;
  top: 387px;
  left: 815px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #1e1e1c;
  font-size: 20.8px;
  letter-spacing: -0.33px;
  line-height: 24.2px;
  white-space: nowrap;
}

.home .text-wrapper-12 {
  position: absolute;
  width: 316px;
  height: 68px;
  top: 427px;
  left: 815px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #53524b;
  font-size: 15.2px;
  letter-spacing: 0;
  line-height: 24px;
}

.home .screenshot-wrapper {
  position: absolute;
  width: 322px;
  height: 358px;
  top: 3269px;
  left: 391px;
  border-radius: 10px;
  overflow: hidden;
  background-image: url(./img/lock-icon.png);
  background-size: cover;
  background-position: 50% 50%;
}

.home .screenshot-8 {
  position: absolute;
  width: 363px;
  height: 366px;
  top: -4px;
  left: -20px;
  object-fit: cover;
}

.home .payments-tax {
  position: absolute;
  width: 251px;
  height: 28px;
  top: 3656px;
  left: 391px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #1e1e1c;
  font-size: 21.3px;
  letter-spacing: -0.33px;
  line-height: 24.2px;
  white-space: nowrap;
}

.home .text-wrapper-13 {
  position: absolute;
  width: 314px;
  height: 68px;
  top: 3696px;
  left: 391px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #53524b;
  font-size: 15.2px;
  letter-spacing: 0;
  line-height: 24px;
}

.home .img-wrapper {
  position: absolute;
  width: 322px;
  height: 358px;
  top: 3269px;
  left: 798px;
  border-radius: 10px;
  overflow: hidden;
  background-image: url(./img/checkmark-icon.png);
  background-size: cover;
  background-position: 50% 50%;
}

.home .screenshot-9 {
  position: absolute;
  width: 354px;
  height: 361px;
  top: -3px;
  left: -15px;
  object-fit: cover;
}

.home .books-support {
  position: absolute;
  width: 223px;
  height: 28px;
  top: 3656px;
  left: 798px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #1e1e1c;
  font-size: 21px;
  letter-spacing: -0.33px;
  line-height: 24.2px;
  white-space: nowrap;
}

.home .text-wrapper-14 {
  position: absolute;
  width: 306px;
  height: 68px;
  top: 3696px;
  left: 798px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #53524b;
  font-size: 15.2px;
  letter-spacing: 0;
  line-height: 24px;
}

.home .chat-bubble-icon-2 {
  position: absolute;
  width: 322px;
  height: 358px;
  top: 3269px;
  left: 1206px;
  border-radius: 10px;
  overflow: hidden;
  background-image: url(./img/chat-bubble-icon-2.png);
  background-size: cover;
  background-position: 50% 50%;
}

.home .screenshot-10 {
  position: absolute;
  width: 364px;
  height: 366px;
  top: -4px;
  left: -21px;
  object-fit: cover;
}

.home .invest-retire {
  position: absolute;
  width: 196px;
  height: 28px;
  top: 3656px;
  left: 1206px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #1e1e1c;
  font-size: 20.8px;
  letter-spacing: -0.33px;
  line-height: 24.2px;
  white-space: nowrap;
}

.home .text-wrapper-15 {
  position: absolute;
  width: 316px;
  height: 68px;
  top: 3696px;
  left: 1206px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #53524b;
  font-size: 15.2px;
  letter-spacing: 0;
  line-height: 24px;
}

.home .section-3 {
  position: absolute;
  width: 1920px;
  height: 644px;
  top: 3939px;
  left: 0;
  background-color: #1e1e1c;
}

.home .heading-get-access {
  position: absolute;
  width: 964px;
  height: 222px;
  top: 133px;
  left: 391px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 61px;
  letter-spacing: -0.96px;
  line-height: 70.4px;
}

.home .text-wrapper-16 {
  position: absolute;
  width: 364px;
  height: 23px;
  top: 383px;
  left: 391px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffffbf;
  font-size: 17.2px;
  letter-spacing: 0;
  line-height: 25.2px;
  white-space: nowrap;
}

.home .link-5 {
  position: absolute;
  width: 154px;
  height: 56px;
  top: 448px;
  left: 391px;
  background-color: #dabd84;
  border-radius: 4px;
  border: 2px solid;
}

.home .text-wrapper-17 {
  position: absolute;
  width: 74px;
  height: 16px;
  top: 18px;
  left: 32px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #1e1e1c;
  font-size: 13.6px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.home .rectangle {
  position: fixed;
  width: 1920px;
  height: 112px;
  top: -12px;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0px 4px 50px #00000040;
}

.home .auretransparentlogo {
  position: fixed;
  width: 117px;
  height: 43px;
  top: 29px;
  left: 388px;
  object-fit: cover;
}

.home .list-wrapper {
  display: flex;
  width: 381px;
  height: 95px;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  top: -4px;
  left: 769px;
}

.home .div-2 {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.home .component-wrapper {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.home .component-2 {
  display: inline-flex;
  padding: 2.67px 20px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
}

.home .text-2 {
  margin-left: -0.50px;
  -webkit-text-stroke: 0.5px #53524b;
  color: #53524b;
  font-size: var(--www-joinarc-com-inter-medium-font-size);
  line-height: var(--www-joinarc-com-inter-medium-line-height);
  position: relative;
  width: fit-content;
  font-family: var(--www-joinarc-com-inter-medium-font-family);
  font-weight: var(--www-joinarc-com-inter-medium-font-weight);
  text-align: center;
  letter-spacing: var(--www-joinarc-com-inter-medium-letter-spacing);
  white-space: nowrap;
  font-style: var(--www-joinarc-com-inter-medium-font-style);
}

.home .component-3 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2.75px 20px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.home .text-3 {
  color: #53524b;
  font-size: var(--www-joinarc-com-inter-medium-font-size);
  line-height: var(--www-joinarc-com-inter-medium-line-height);
  position: relative;
  width: fit-content;
  font-family: var(--www-joinarc-com-inter-medium-font-family);
  font-weight: var(--www-joinarc-com-inter-medium-font-weight);
  text-align: center;
  letter-spacing: var(--www-joinarc-com-inter-medium-letter-spacing);
  white-space: nowrap;
  font-style: var(--www-joinarc-com-inter-medium-font-style);
}

.home .component-4 {
  display: inline-flex;
  padding: 2.3px 20px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
}

.home .text-4 {
  color: #53524b;
  font-size: 15.9px;
  line-height: 22.4px;
  position: relative;
  width: fit-content;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0;
  white-space: nowrap;
}

