:root {
  --contact-aure-lovable-app-semantic-button-font-family: "Inter", Helvetica;
  --contact-aure-lovable-app-semantic-button-font-weight: 400;
  --contact-aure-lovable-app-semantic-button-font-size: 14px;
  --contact-aure-lovable-app-semantic-button-letter-spacing: 0px;
  --contact-aure-lovable-app-semantic-button-line-height: 21px;
  --contact-aure-lovable-app-semantic-button-font-style: normal;
  --contact-aure-lovable-app-semantic-heading-1-font-family: "Inter", Helvetica;
  --contact-aure-lovable-app-semantic-heading-1-font-weight: 700;
  --contact-aure-lovable-app-semantic-heading-1-font-size: 47.0625px;
  --contact-aure-lovable-app-semantic-heading-1-letter-spacing: 0px;
  --contact-aure-lovable-app-semantic-heading-1-line-height: 48px;
  --contact-aure-lovable-app-semantic-heading-1-font-style: normal;
  --contact-aure-lovable-app-semantic-heading-2-font-family: "Inter", Helvetica;
  --contact-aure-lovable-app-semantic-heading-2-font-weight: 700;
  --contact-aure-lovable-app-semantic-heading-2-font-size: 23.4375px;
  --contact-aure-lovable-app-semantic-heading-2-letter-spacing: 0px;
  --contact-aure-lovable-app-semantic-heading-2-line-height: 32px;
  --contact-aure-lovable-app-semantic-heading-2-font-style: normal;
  --contact-aure-lovable-app-semantic-heading-3-font-family: "Inter", Helvetica;
  --contact-aure-lovable-app-semantic-heading-3-font-weight: 700;
  --contact-aure-lovable-app-semantic-heading-3-font-size: 23.625px;
  --contact-aure-lovable-app-semantic-heading-3-letter-spacing: -0.6000000238418579px;
  --contact-aure-lovable-app-semantic-heading-3-line-height: 32px;
  --contact-aure-lovable-app-semantic-heading-3-font-style: normal;
  --contact-aure-lovable-app-semantic-item-font-family: "Inter", Helvetica;
  --contact-aure-lovable-app-semantic-item-font-weight: 400;
  --contact-aure-lovable-app-semantic-item-font-size: 14.75px;
  --contact-aure-lovable-app-semantic-item-letter-spacing: 0px;
  --contact-aure-lovable-app-semantic-item-line-height: 24px;
  --contact-aure-lovable-app-semantic-item-font-style: normal;
  --contact-aure-lovable-app-semantic-label-font-family: "Inter", Helvetica;
  --contact-aure-lovable-app-semantic-label-font-weight: 400;
  --contact-aure-lovable-app-semantic-label-font-size: 13.234375px;
  --contact-aure-lovable-app-semantic-label-letter-spacing: 0px;
  --contact-aure-lovable-app-semantic-label-line-height: 20px;
  --contact-aure-lovable-app-semantic-label-font-style: normal;
  --contact-aure-lovable-app-semantic-link-font-family: "Inter", Helvetica;
  --contact-aure-lovable-app-semantic-link-font-weight: 400;
  --contact-aure-lovable-app-semantic-link-font-size: 11.0625px;
  --contact-aure-lovable-app-semantic-link-letter-spacing: 0px;
  --contact-aure-lovable-app-semantic-link-line-height: 18px;
  --contact-aure-lovable-app-semantic-link-font-style: normal;
  --contact-aure-lovable-app-semantic-textarea-font-family: "Inter", Helvetica;
  --contact-aure-lovable-app-semantic-textarea-font-weight: 400;
  --contact-aure-lovable-app-semantic-textarea-font-size: 13.015625px;
  --contact-aure-lovable-app-semantic-textarea-letter-spacing: 0px;
  --contact-aure-lovable-app-semantic-textarea-line-height: 20px;
  --contact-aure-lovable-app-semantic-textarea-font-style: normal;
  --contact-aure-lovable-app-inter-regular-font-family: "Inter", Helvetica;
  --contact-aure-lovable-app-inter-regular-font-weight: 400;
  --contact-aure-lovable-app-inter-regular-font-size: 14.75px;
  --contact-aure-lovable-app-inter-regular-letter-spacing: 0px;
  --contact-aure-lovable-app-inter-regular-line-height: 24px;
  --contact-aure-lovable-app-inter-regular-font-style: normal;
  --contact-aure-lovable-app-inter-bold-font-family: "Inter", Helvetica;
  --contact-aure-lovable-app-inter-bold-font-weight: 700;
  --contact-aure-lovable-app-inter-bold-font-size: 23.8125px;
  --contact-aure-lovable-app-inter-bold-letter-spacing: 0px;
  --contact-aure-lovable-app-inter-bold-line-height: 32px;
  --contact-aure-lovable-app-inter-bold-font-style: normal;
  --www-joinarc-com-semantic-heading-1-font-family: "Inter", Helvetica;
  --www-joinarc-com-semantic-heading-1-font-weight: 400;
  --www-joinarc-com-semantic-heading-1-font-size: 54.03125px;
  --www-joinarc-com-semantic-heading-1-letter-spacing: -0.8399999737739563px;
  --www-joinarc-com-semantic-heading-1-line-height: 61.599998474121094px;
  --www-joinarc-com-semantic-heading-1-font-style: normal;
  --www-joinarc-com-semantic-heading-2-font-family: "Inter", Helvetica;
  --www-joinarc-com-semantic-heading-2-font-weight: 700;
  --www-joinarc-com-semantic-heading-2-font-size: 62.875px;
  --www-joinarc-com-semantic-heading-2-letter-spacing: -0.9599999785423279px;
  --www-joinarc-com-semantic-heading-2-line-height: 70.4000015258789px;
  --www-joinarc-com-semantic-heading-2-font-style: normal;
  --www-joinarc-com-semantic-heading-3-font-family: "Inter", Helvetica;
  --www-joinarc-com-semantic-heading-3-font-weight: 400;
  --www-joinarc-com-semantic-heading-3-font-size: 34.3125px;
  --www-joinarc-com-semantic-heading-3-letter-spacing: -0.5400000214576721px;
  --www-joinarc-com-semantic-heading-3-line-height: 39.599998474121094px;
  --www-joinarc-com-semantic-heading-3-font-style: normal;
  --www-joinarc-com-semantic-heading-4-font-family: "Inter", Helvetica;
  --www-joinarc-com-semantic-heading-4-font-weight: 400;
  --www-joinarc-com-semantic-heading-4-font-size: 28.4765625px;
  --www-joinarc-com-semantic-heading-4-letter-spacing: -0.44999998807907104px;
  --www-joinarc-com-semantic-heading-4-line-height: 34.5px;
  --www-joinarc-com-semantic-heading-4-font-style: normal;
  --www-joinarc-com-semantic-heading-5-font-family: "Inter", Helvetica;
  --www-joinarc-com-semantic-heading-5-font-weight: 500;
  --www-joinarc-com-semantic-heading-5-font-size: 21.828125px;
  --www-joinarc-com-semantic-heading-5-letter-spacing: -0.33000001311302185px;
  --www-joinarc-com-semantic-heading-5-line-height: 24.200000762939453px;
  --www-joinarc-com-semantic-heading-5-font-style: normal;
  --www-joinarc-com-semantic-item-font-family: "Inter", Helvetica;
  --www-joinarc-com-semantic-item-font-weight: 700;
  --www-joinarc-com-semantic-item-font-size: 15.625px;
  --www-joinarc-com-semantic-item-letter-spacing: 0px;
  --www-joinarc-com-semantic-item-line-height: 24px;
  --www-joinarc-com-semantic-item-font-style: normal;
  --www-joinarc-com-semantic-strong-font-family: "Inter", Helvetica;
  --www-joinarc-com-semantic-strong-font-weight: 700;
  --www-joinarc-com-semantic-strong-font-size: 11.625px;
  --www-joinarc-com-semantic-strong-letter-spacing: 0px;
  --www-joinarc-com-semantic-strong-line-height: 18px;
  --www-joinarc-com-semantic-strong-font-style: normal;
  --www-joinarc-com-semantic-input-font-family: "Inter", Helvetica;
  --www-joinarc-com-semantic-input-font-weight: 400;
  --www-joinarc-com-semantic-input-font-size: 12.796875px;
  --www-joinarc-com-semantic-input-letter-spacing: 0px;
  --www-joinarc-com-semantic-input-line-height: normal;
  --www-joinarc-com-semantic-input-font-style: normal;
  --www-joinarc-com-semantic-link-font-family: "Inter", Helvetica;
  --www-joinarc-com-semantic-link-font-weight: 400;
  --www-joinarc-com-semantic-link-font-size: 14px;
  --www-joinarc-com-semantic-link-letter-spacing: 0px;
  --www-joinarc-com-semantic-link-line-height: 19.600000381469727px;
  --www-joinarc-com-semantic-link-font-style: normal;
  --www-joinarc-com-semantic-link-underline-font-family: "Inter", Helvetica;
  --www-joinarc-com-semantic-link-underline-font-weight: 400;
  --www-joinarc-com-semantic-link-underline-font-size: 12px;
  --www-joinarc-com-semantic-link-underline-letter-spacing: 0px;
  --www-joinarc-com-semantic-link-underline-line-height: 18px;
  --www-joinarc-com-semantic-link-underline-font-style: normal;
  --www-joinarc-com-semantic-mispelled-font-family: "Inter", Helvetica;
  --www-joinarc-com-semantic-mispelled-font-weight: 400;
  --www-joinarc-com-semantic-mispelled-font-size: 12px;
  --www-joinarc-com-semantic-mispelled-letter-spacing: 0px;
  --www-joinarc-com-semantic-mispelled-line-height: 18px;
  --www-joinarc-com-semantic-mispelled-font-style: normal;
  --www-joinarc-com-semantic-mispelled-underline-font-family: "Inter", Helvetica;
  --www-joinarc-com-semantic-mispelled-underline-font-weight: 700;
  --www-joinarc-com-semantic-mispelled-underline-font-size: 11.625px;
  --www-joinarc-com-semantic-mispelled-underline-letter-spacing: 0px;
  --www-joinarc-com-semantic-mispelled-underline-line-height: 18px;
  --www-joinarc-com-semantic-mispelled-underline-font-style: normal;
  --www-joinarc-com-semantic-options-font-family: "Inter", Helvetica;
  --www-joinarc-com-semantic-options-font-weight: 400;
  --www-joinarc-com-semantic-options-font-size: 12.390625px;
  --www-joinarc-com-semantic-options-letter-spacing: 0px;
  --www-joinarc-com-semantic-options-line-height: 16px;
  --www-joinarc-com-semantic-options-font-style: normal;
  --www-joinarc-com-semantic-strong-underline-font-family: "Inter", Helvetica;
  --www-joinarc-com-semantic-strong-underline-font-weight: 700;
  --www-joinarc-com-semantic-strong-underline-font-size: 11.625px;
  --www-joinarc-com-semantic-strong-underline-letter-spacing: 0px;
  --www-joinarc-com-semantic-strong-underline-line-height: 18px;
  --www-joinarc-com-semantic-strong-underline-font-style: normal;
  --www-joinarc-com-semantic-superscript-underline-font-family: "Inter",
    Helvetica;
  --www-joinarc-com-semantic-superscript-underline-font-weight: 400;
  --www-joinarc-com-semantic-superscript-underline-font-size: 8.5px;
  --www-joinarc-com-semantic-superscript-underline-letter-spacing: 0px;
  --www-joinarc-com-semantic-superscript-underline-line-height: 22.399999618530273px;
  --www-joinarc-com-semantic-superscript-underline-font-style: normal;
  --www-joinarc-com-semantic-textarea-font-family: "Inter", Helvetica;
  --www-joinarc-com-semantic-textarea-font-weight: 400;
  --www-joinarc-com-semantic-textarea-font-size: 12.6953125px;
  --www-joinarc-com-semantic-textarea-letter-spacing: 0px;
  --www-joinarc-com-semantic-textarea-line-height: normal;
  --www-joinarc-com-semantic-textarea-font-style: normal;
  --www-joinarc-com-inter-medium-font-family: "Inter", Helvetica;
  --www-joinarc-com-inter-medium-font-weight: 500;
  --www-joinarc-com-inter-medium-font-size: 15.625px;
  --www-joinarc-com-inter-medium-letter-spacing: 0px;
  --www-joinarc-com-inter-medium-line-height: 22.399999618530273px;
  --www-joinarc-com-inter-medium-font-style: normal;
  --www-joinarc-com-inter-regular-font-family: "Inter", Helvetica;
  --www-joinarc-com-inter-regular-font-weight: 400;
  --www-joinarc-com-inter-regular-font-size: 15.125px;
  --www-joinarc-com-inter-regular-letter-spacing: 0px;
  --www-joinarc-com-inter-regular-line-height: 24px;
  --www-joinarc-com-inter-regular-font-style: normal;
  --www-joinarc-com-inter-bold-upper-font-family: "Inter", Helvetica;
  --www-joinarc-com-inter-bold-upper-font-weight: 700;
  --www-joinarc-com-inter-bold-upper-font-size: 16px;
  --www-joinarc-com-inter-bold-upper-letter-spacing: 0px;
  --www-joinarc-com-inter-bold-upper-line-height: 24px;
  --www-joinarc-com-inter-bold-upper-font-style: normal;
  --www-joinarc-com-inter-bold-font-family: "Inter", Helvetica;
  --www-joinarc-com-inter-bold-font-weight: 700;
  --www-joinarc-com-inter-bold-font-size: 15.125px;
  --www-joinarc-com-inter-bold-letter-spacing: 0px;
  --www-joinarc-com-inter-bold-line-height: 24px;
  --www-joinarc-com-inter-bold-font-style: normal;
}
